<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/prueba.css">
</head>

<body style="background-color:#FDFDFD;padding: 6rem 0;">
    <article class="contenedor">
        <div class="details">
            <div class="details-card">
                <img src="../media/icon/detail-cards/instituciones-1.svg" alt="">
                <p>Plan de afinidad y becas especiales</p>
            </div>
            <div class="details-card">
                <img src="../media/icon/detail-cards/instituciones-2.svg" alt="">
                <p> <span>Campus customizado para el</span>
                    <span> ingreso de miembros activos</span></p>
            </div>
            <div class="details-card">
                <img src="../media/icon/detail-cards/instituciones-3.svg" alt="">
                <p>
                   <span>Envíos de actualización de todo el</span>
                 <span> material disponible a miembros activos</span> </p>
            </div>
            <div class="details-card">
                <img src="../media/icon/detail-cards/instituciones-4.svg" alt="">
                <p>Acceso a actualización científica de vanguardia de modo constante, desde cualquier lugar y cualquier
                    dispositivo</p>
            </div>
        </div>
    </article>


</body>

</html>